@page "/clientes/crearfdsfs"
@inject ClienteService ClienteService
@inject NavigationManager Nav
@inject ILogger<ClientesCrear> Logger
@using FacturadorDomain.Entities

<h3>Crear Cliente</h3>

<EditForm Model="@nuevoCliente" OnValidSubmit="OnValidSubmit" FormName="formCrearCliente">
    <DataAnnotationsValidator></DataAnnotationsValidator>
   
    <div class="mb-3">
        <label class="form-label">Razón Social</label>
        <InputText class="form-control" @bind-value="nuevoCliente.RazonSocial"></InputText>
        <ValidationMessage For="@(() => nuevoCliente.RazonSocial)"></ValidationMessage>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/clientes" class="btn btn-secondary ms-2">Cancelar</a>
    </div>

    <p>Valor actual: @nuevoCliente?.RazonSocial</p>
</EditForm>

@code {
    private Cliente nuevoCliente = new();
    private Cliente crearCliente = new();
    private string? debugInfo;

    private async Task OnValidSubmit()
    {
        crearCliente.RazonSocial = nuevoCliente.RazonSocial;
        await ClienteService.CrearClienteAsync(nuevoCliente);
        Nav.NavigateTo("/clientes");

    }
}