@page "/clientes"
@inject ClienteService ClienteService
@inject NavigationManager Nav
@using FacturadorDomain.Entities
@using Blazored.Modal.Services
@inject IModalService Modal


<h3>Clientes</h3>

<a class="btn btn-primary" href="/clientes/pr1">Nuevo</a>

@if (clientes == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Razon Social</th>
                <th>CUIT</th>
                <th>Direccion</th>
                <th>Desahilitado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr>
                    <td>@cliente.RazonSocial</td>
                    <td>@cliente.CUIT</td>
                    <td>@cliente.Direccion</td>
                    <td>@(cliente.Deshabilitado ? "✔️" : "❌")</td>
                    <td>
                        <a class="btn btn-warning" href="/clientes/editar/@cliente.Cli_ID">Editar</a>
                        <a class="btn btn-danger" href="/clientes/eliminar/@cliente.Cli_ID">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    int? clienteAEliminarId = null;
    bool mostrarConfirmacion = false;

    List<Cliente>? clientes;

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.GetClientesAsync();
    }

    private async Task Eliminar(int id)
    {
        await ClienteService.EliminarClienteAsync(id);
        clientes = await ClienteService.GetClientesAsync();
    }

    private async Task EliminarConfirmado()
    {
        if (clienteAEliminarId.HasValue)
        {
            await ClienteService.EliminarClienteAsync(clienteAEliminarId.Value);
            clientes = await ClienteService.GetClientesAsync();
        }
        mostrarConfirmacion = false;
        clienteAEliminarId = null;
    }

    private void CancelarEliminacion()
    {
        mostrarConfirmacion = false;
        clienteAEliminarId = null;
    }
}

